{% load crispy_forms_tags %}

{% block page_content_inner %}
{% if request.user.is_authenticated is True %}

<div class="ms-3 mb-1 me-3 "><h6>Legal Details</h6></div>  

<div class="row mx-md-n5 border p-2 ms-3 me-3 mb-3">  
    {% if save_success is  True %}
        <div class="alert alert-success update-alert">Successfully Updated</div>
        <script>$('.update-alert').delay(2000).fadeOut(400);</script>       
    {% endif %}    

    <form name='personal_information' id='id_personal_information' action="/ledger-ui/crispy-form/personal-information/{{ pk }}/" class="form-horizontal" method="post" onsubmit="event.preventDefault(); ledger_api_django_crispy_forms.submit_form(this.id,'ledger_ui_personal_details') ">
        {% crispy form %}
    </form>

    <script>
        if ('{{ personal_details_completed }}' == 'True') { 
            $('#personal-details-status').html('<i class="bi bi-check-circle-fill" style="color: #08c508;"></i>');
        } else {
            $('#personal-details-status').html('<i class="bi bi-x-circle-fill" style="color: #ff0909"></i>');  
        }                
        $('.bs-datepicker').datepicker({"format": "dd/mm/yyyy"});
    </script>

</div>
{% else %}
<div class="alert alert-danger" >You are currently not logged in or your session has expired.</div>
{% endif %}
{% endblock %}