<div id='ledger-payment-overtop'></div>

<link rel="stylesheet" type="text/css" href="/static/ledger_api/ledger_api.css?ver={{ GIT_COMMIT_HASH }}" />

{% block topheader %}
<div class="" style='margin: 0px; background-color: #333333; height: 40px; color: #9b9b9b;'>
        <div style='padding: 10px;'>
            <div class="row">
                <div class="col-lg-12">
                        <h5 style='color: #9b9b9b;'>
                           <a style='color: #9b9b9b;' href="{%url 'home'%}">Contact Us</a>
                        </h5>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block mainheader %}
<div class="" style='background-color: FFF'>
	<div style='padding: 20px;'>
            <div class="row">
                <div class="col-lg-12">
		       	
                        <h1 id="site-title" class="site-logo">
                           <a href="{%url 'home'%}">
                              <img src="/static/ps/img/logo-2021.png" alt="Department of Parks and Wildlife - Park Stay" class="img-responsive"/>
                           </a>
                        </h1>
                </div>
	</div>
    </div>
</div>
{% endblock %}

{% block topseperator %}

<div class="col-lg-12">

<div id='header-seperator'>
	<div class="row">
             <div class="col-lg-12" style='background-color: #333333; height:6px;'>
                       &nbsp;

             </div>
	</div>
</div>
</div>

<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #045186; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>

<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #4c9dc2; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>


<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #eda62c; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>






{% endblock %}



<div class="col-lg-12">

<div id='content-payment-body'>
{{ data|safe }}
</div>
</div>


{% block bottomseperator %}

<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #eda62c; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>
<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #4c9dc2; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>
<div class="col-lg-12">

<div id='header-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #045186; height:6px;'>
                       &nbsp;

             </div>
        </div>
</div>
</div>
{% endblock %}

{% block footereperator %}
<div class="col-lg-12">
<!-- footer -->
<div id='bottom-seperator'>
        <div class="row">
             <div class="col-lg-12" style='background-color: #333333; min-height: 200px; '>
		     <div style='padding-left: 70px; padding-top: 50px; ' >
		     <img src="/static/ledger_api/images/logo-explore-parks-white.png" style="width: auto; ">
                       &nbsp;
		     </div>

             </div>
        </div>
</div>
</div>
{% endblock %}

