
  <div class='p-3 rounded' style='background: #c4e6fd; border: 1px solid #80beff'>
        <div >
            <b>Privacy Notice</B>            
        </div>
        <div class=''>        
            For details on how DBCA handles your personal information, you can read our <A HREF="https://www.dbca.wa.gov.au/media/6324/download">Privacy Policy</A>. If you have any questions about how your personal information will be handled, or if you would like to access your personal information, please email <A HREF="mailto:privacy@dbca.wa.gov.au">privacy@dbca.wa.gov.au</A> 
        </div>
    </div>
    <br>